<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cac_status_checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="cac_status_checker.Properties.Settings.ConnectionString"
            connectionString="Data Source=YY-HBH3GRR;Initial Catalog=RmuCapture;Persist Security Info=True;User ID=sa;Password=@87.Com#"
            providerName="System.Data.SqlClient" />
        <add name="cac_status_checker.Properties.Settings.Conn_String"
            connectionString="Data Source=10.0.8.145;Initial Catalog=cac_prod;Persist Security Info=True;User ID=cacapi;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <cac_status_checker.Properties.Settings>
            <setting name="First_Run_RMD" serializeAs="String">
                <value>False</value>
            </setting>
        </cac_status_checker.Properties.Settings>
    </applicationSettings>
</configuration>
